name: CI Pipeline

on:
  push:

jobs:
  run-pipeline:
    name: Run CI Pipeline
    runs-on: ubuntu-22.04
    continue-on-error: true

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          submodules-depth: 1 # shallow clone everything
          fetch-depth: 1      

      - name: Install dependencies
        run: |
          sudo apt update \
          && sudo apt install --no-install-recommends -y xz-utils cmake ninja-build lcov gcc g++ make libc6-dev
      
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
            ~/.platformio/packages
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio
          
      - name: Build and run unit tests
        run: |
          pio run -e release
          chmod +x ./scripts/run_unit_tests.sh
          ./scripts/run_unit_tests.sh cleanall
          ./scripts/run_unit_tests.sh test

      - name: Run formatting check
        uses: waterloo-rocketry/actions/clang-format-check@main
        with:
            clang-format-config-path: 'src/third_party/rocketlib/.clang-format'
            c-source-files: 'src/application/*/*.c src/application/*/*.h src/drivers/*/*.c src/drivers/*/*.h src/common/*/*.h src/common/*/*c'
